body {
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 600px; /*中央配置するボックスの横幅*/
  min-height: 400px; /*中央配置するボックスの縦幅*/
}
.title {
  font-size: 1.5em;
  color: #3f0e40;
  margin-bottom: 10px;
}
.word {
  font-size: 1.2em;
}

.container {
  margin-bottom: 0.6em;
  margin: -200px 0 0 -300px; /*縦横半分をネガティブマージンでずらす*/
  position: absolute; /*body要素に対して絶対配置*/
  top: 50%; /*上端を中央に*/
  left: 50%; /*左端を中央に*/
  width: 600px; /*横幅*/
  height: 400px; /*縦幅*/
}

/** normarize **/
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  color: #3f0e40;
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

.search {
  font-size: 1.2em;
}
